{% extends 'base.html' %}

{% load static  %}
{% block title %}
components
{% endblock title %}

{% block body %}
<div class="container-fluid text-white text-center my-3">
    <h2 class="title py-5">Featured Components</h2>
    <div class="row justify-content-evenly">
        <div class="card m-2 mb-3" style="width: 18rem;">
            <img src="{% static 'img/com1.webp' %}"  class="card-img-top" alt="...">
            <div class="card-body text-dark">
              <h5 class="card-title">Component 1</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
        </div>
        <div class="card m-2 mb-3" style="width: 18rem;">
            <img src="{% static 'img/com2.jpg' %}"  class="card-img-top" alt="...">
            <div class="card-body text-dark">
              <h5 class="card-title">Component 1</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
        </div>
        <div class="card m-2 mb-3" style="width: 18rem;">
            <img src="{% static 'img/com3.webp' %}"  class="card-img-top" alt="...">
            <div class="card-body text-dark">
              <h5 class="card-title">Component 1</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
        </div>
        <div class="card m-2 mb-3" style="width: 18rem;">
            <img src="{% static 'img/com4.webp' %}"  class="card-img-top" alt="...">
            <div class="card-body text-dark">
              <h5 class="card-title">Component 1</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
        </div>
        <div class="card m-2 mb-3" style="width: 18rem;">
            <img src="{% static 'img/com5.webp' %}"  class="card-img-top" alt="...">
            <div class="card-body text-dark">
              <h5 class="card-title">Component 1</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
        </div>
        <div class="card m-2 mb-3" style="width: 18rem;">
            <img src="{% static 'img/com6.webp' %}"  class="card-img-top" alt="...">
            <div class="card-body text-dark">
              <h5 class="card-title">Component 1</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
        </div>
        <div class="card m-2 mb-3" style="width: 18rem;">
            <img src="{% static 'img/com1.webp' %}"  class="card-img-top" alt="...">
            <div class="card-body text-dark">
              <h5 class="card-title">Component 1</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
        </div>
        <div class="card m-2 mb-3" style="width: 18rem;">
            <img src="{% static 'img/com1.webp' %}"  class="card-img-top" alt="...">
            <div class="card-body text-dark">
              <h5 class="card-title">Component 1</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
        </div>
        
    </div>   
</div>


{% endblock body %}