{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock title %}

{% block body %}

<div class="container-fluid p-0">

    <div class="row vh-100">
        <div class="col-md-4 col-12 d-flex justify-content-center align-items-center">
            <div class="">
                <h1 class="text-white">Give Your Workout<br>A New Style</h1>
                <p style="color: rgb(240, 240, 240);">Success isn't always about greatness . It's about conisitency <br> work gains
                    Success. Greatness
                    will come</p>
                <a href="" class="btn btn-primary">Explore Now &#8594;</a>
            </div>
        </div>
        <div class="col-md-8 p-0 col-12 d-flex justify-content-center align-items-center">
            <img width="80%" style="border-radius: 50px;" src="/static/img/img1.jpg" alt="">
        </div>
    </div>
</div>

<style>
    
</style>

<!-- offer -->

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12 position-relative text-white">
            <img width="100%" src="/static/img/router.jpg" class="" alt="">
            <div class="col-4 centered ms-5">
                <p class="mb-3">Exclusively Available On <span class="text-danger">REDSTORE</span> </p>
                <h1 class="mb-3">TP-link Router</h1>
                <small class="mb-3">TP-Link Archer AC1200 Archer C6 Wi-Fi Speed Up to 867 Mbps/5 GHz + 300
                    Mbps/2.4 GHz <br> 5 Gigabit Ports <br>4 External Antennas<br>  MU-MIMO<br>  Dual Band<br>  WiFi Coverage with Access
                    Point Mode<br>  Wireless Router</small>
                <a href="" class="btn btn-primary d-block w-25 my-5 py-2">Buy Now &#8594; </a>
            </div>
    </div>
</div>






<!-- Brands -->

<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 300px;">
    <div class="row ">
        <div class="col-2 mx-3">
            <img src="/static/img/logo-coca-cola.png" alt="">
        </div>
        <div class="col-2 mx-3">
            <img src="/static/img/logo-godrej.png" alt="">
        </div>
        <div class="col-2 mx-3">
            <img src="/static/img/logo-oppo.png" alt="">
        </div>
        <div class="col-2 mx-3">
            <img src="/static/img/logo-paypal.png" alt="">
        </div>
        <div class="col-2 mx-3">
            <img src="/static/img/logo-philips.png" alt="">
        </div>
    </div>
</div>





{% endblock body %}