{% extends 'base.html' %}
{% block title %}
    sign in 
{% endblock title %}

{% load static %}

{% load crispy_forms_tags %}

{% block body %}
<div class="container">
    <div class="row">
        <h1 class="text-info">USER</h1>
    </div>

    <div class="row">
        <div class="col">
            <img src="{% static 'img/food.jpg'%}" class="img-fluid h-100" alt="">
        </div>
        <div class="col ">
            <div class="foodform">
                <form action="" method="POST" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <table class="table table-borderless">
                        {{form|crispy}}
                        <tr>
                            <td colspan="2" align="right">
                                <input class="btn btn-success" type="submit" value="Save">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock body %}